* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #050816;
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 420px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 24px;
  padding: 28px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 40px rgba(0,229,255,0.15);
}

h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.subtitle {
  color: #9ca3af;
  margin-bottom: 30px;
}

.balance-card {
  background: linear-gradient(
    135deg,
    #00e5ff,
    #5b8cff
  );
  color: black;
  padding: 24px;
  border-radius: 20px;
  margin-bottom: 24px;
}

.balance-card span {
  font-size: 14px;
}

.balance-card h2 {
  margin-top: 10px;
  font-size: 32px;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 12px;
}

.actions button {
  border: none;
  padding: 14px;
  border-radius: 14px;
  background: #111827;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.actions button:hover {
  background: #1f2937;
}

.network {
  margin-top: 24px;
  text-align: center;
  color: #00e5ff;
}
